/*===== RESET =====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
ul {
list-style-type: none;
}
/*===== RESET =====*/

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 101, 74);
    width: 50%;
    margin: auto;
    padding: 15px;
}

.form-element {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(17, 255, 17);
}

.form-element:not(:first-child){
    margin-top: 3px;
}

.btn{
    background-color: red;
    margin-top: 5px;
}

/* placer du texte dans l'input */
.input::placeholder {
    font-style: italic;
    color: green;
}
/* VERSION SASS

.form-element {
    border: 5px solid red;

    &:not(:first-child) {
        margin-top: 5px;
    }
} */